
.logo{
  height: 60px;
  margin: 20px 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBarToggle{
  position: absolute;
    right: -35px;
    width: 40px;
    background: #1777ff;
    height: 40px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    color: white;
}
